.the-footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: theme("colors.gray.100");
  background-color: theme("colors.gray.800");

  .footer__content {
    font-size: 0.8em;
    font-family: "Fira Mono", monospace;

    img {
      display: inline-block;
      height: 18px;
    }
  }
}
