.the-navigation {
  @apply shadow-md;
  width: 100%;
  top: 0;
  height: 100%;

  @include dark() {
    background-color: theme("colors.gray.900");
  }

  .navigation__body {
    height: 100%;
    max-width: 1440px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    z-index: 99;

    & > * {
      flex: 1 1 0;
    }

    .the-navigation__item {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.the-navigation__item--right {
        justify-content: flex-end;

        .theme-toggle {
          margin-right: 10px;
        }
      }

      &.the-navigation__item--logo {
        justify-content: flex-start;
        margin-right: 10px;

        img {
          height: 80px;
          width: auto;
        }
      }
    }
  }
}
