.the-sidebar {
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;

  .sidebar__search {
    margin-bottom: 10px;

    input {
      width: 100%;
      padding: 10px 15px;
      border-radius: 30px;
      font-family: Roboto;
      background-color: theme("colors.neutral.200");
      border: 1px solid theme("colors.neutral.300");

      &:focus {
        outline: none;
      }

      @include dark {
        background-color: theme("colors.neutral.100");
        border: 1px solid theme("colors.neutral.200");
      }
    }
  }

  .sidebar__list.list {
    .list__item {
      border-radius: 5px;
      padding: 15px 10px;
      transition: 100ms ease;
      transition-property: border-color, background-color;
      cursor: pointer;
      color: theme("colors.neutral.600");
      position: relative;

      @include dark {
        color: theme("colors.neutral.200");
      }

      &:hover {
        border-color: theme("colors.green.500");
        background-color: theme("colors.green.200");
        color: theme("colors.green.900");
        @apply shadow-sm;

        @include dark {
          border-color: theme("colors.green.400");
          background-color: theme("colors.green.300");
          color: theme("colors.green.900");
        }
      }
    }

    .list__divider {
      &:not(:last-child) {
        margin-top: 2px;
        margin-bottom: 2px;
        height: 1px;
        width: 100%;
        background-color: theme("colors.gray.100");

        @include dark {
          background-color: theme("colors.gray.700");
        }
      }
    }
  }
}
